.container__collapsible-profile{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 100px;
    position: absolute;
    right: 0px;
    border-radius: 13px;
    border: 5px solid #5a8dbf;
}

.collapsible-profile__link{
    color: #003b75;
    text-decoration: none;
    background-color: #f5deb300;
    border: none;
    cursor: pointer;
    padding: 10px 3px;
}

.collapsible-profile__link:hover{
    font-weight: bold;
}

.collapsible__arrow{
    font-size: 60px;
    cursor: pointer;
    position: absolute;
    top: -42px;
    right: 28px;
    color:#5a8dbf;
}