
.profile__image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.profile__image{
    margin: 0;
    padding: 0;
    width: 100%;
}

.description_options{
    display: flex;
    flex-direction: column;
}