.initial__profile{
    margin-top: 110px;    
    display: flex;
    justify-content: center;
}

.profile__margin--bottom {
    margin-bottom: 10px;
    max-width: 800px;
    margin-bottom: 20px;
    max-width: 800px;
    padding: 25px;
}

.profile__username{
    font-size: 2vw;
}

.tags__container{
    display: flex;
}

.tags{
    color: black;
    background: #b3b3b3;
    margin-right: 10px;
    text-align: center;
    padding: 6px 10px;
    border-radius: 5px;    
}

.profile__cover-image{
    width: 100%;
}

.container__image--big{
    position: absolute;
    display: flex;
    top: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #496490;
}

.container__profile{
    /* justify-content: center; */
}

.profile__image{
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
}

.profile__image-big{
    margin-top: 105px;
}

.bttn__close-image{
    position: absolute;
    top: 18vh;
    right: 2vw;
    cursor: pointer;
}