

  /* @import url(http://allfont.es/allfont.css?fonts=chunkfive); */
  @import url('https://fonts.googleapis.com/css?family=Ubuntu');
  @import url('https://fonts.googleapis.com/css?family=Vollkorn');





body{
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Vollkorn', serif;

    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #003d79;
    margin: 0px;
    background: aliceblue;
}

ul{
    padding-inline-start: 0px;
}

select{

}

input{

}

textarea{
}


/* 

Generic components 

*/

.component{
    border: 1px solid rgb(150, 150, 150);
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    background-color: #fff;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(150, 150, 150);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(150, 150, 150);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(150, 150, 150);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    margin-bottom: 1px;
}

.component__profile{
    border: 1px solid rgb(150, 150, 150);
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    background-color: #fff;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(150, 150, 150);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(150, 150, 150);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(150, 150, 150);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    padding-left: 4vw;
    color: #424242b3
        /* margin-bottom: 20px; */
}

.container--row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 92%;
    justify-content: space-between;
    min-height: 100%;

}

.container--column{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.container{
    margin: 0px 3vw;
}

/*

Specific --------------------------------------------------------------------------------------------------

*/

.headerPage {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

.head__Nav {

    /* height: 100px; */
    padding-top: 14px;
    line-height: 32px;
    text-align: center;
    background: #fff;

}

.container__profile{
    margin: 0px 5vw;
    display: flex;
}

.ul__Nav{
    display: flex;
    /* table-layout: fixed; */
    width: 100%;
    list-style-type: none;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

.li__Nav{
    width: 100%;
    border-left-color: rgba(255, 255, 255, 0.28);
    border-left-style: dashed;
    border-left-width: 1px;
    border-right-color: rgba(255, 255, 255, 0.28);
    border-right-style: dashed;
    border-right-width: 1px;
}

.button__Nav{
    color: white;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.button__Nav:hover{
    background:#f0f8ff40;
}



.head__Notify{
    background: #003b75;
    line-height: 35px;
    text-align: center;
    margin-block-end: 0;
    margin-block-start: 0;
}

.logo{
    background: url(./logo1.png) no-repeat;
    background-size: 230px;
    /* text-align: center; */
    height: 60px;
    width: 230px;
    overflow: hidden;
    text-indent: -1000px;
    margin: 0px;
    cursor: pointer;
}
.initial{
    margin-top: 110px;
}
.spacer--20{
    padding-top: 20px;
}

.searcher{
    /* width: 20vw; */
    /* height: 100%; */
}

.searcher__header{
    display: flex;
    align-items: center;
    height: 47.5px;
}

.searcher__header a{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 30px;
    align-items: center;
    text-decoration: none;
    color: #496490;
    font-size: 20px;
    padding-right: 25px;
}

.searcher--panel{
    width: 65px;
    background-color: #003b75;
}

.searcher--panel li{
    list-style-type: none;
    text-align: center;
}

.searcher--panel i{
    font-size: 25px;
    color: white;
    margin: 2vw 0px;
}

.searcher--options{
    min-width: 190px;
    width: 16vw;
}

.results{
    margin-left: 40px;
    width: 100%;
}

.search-bar{
    width: 80%;
    margin: 20px;
}

.ul__filters{
    display: flex;
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}

.ul__filters li{
    margin: 5px;
    height: 25px;
    display: flex;
    align-items: center;
    background: aliceblue;
}

.ul__filters a{
    text-decoration: none;
    color: #496490;
    margin: 5px;
}

.wrapper__images {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.container__image{
    /* margin: 1vw; */
    background: black;
    height: 11vw;
    width: 11vw;
}

.container__profile-header{
    display: flex;
    flex-direction: row;
    margin: 0px 15vw;
}

.profile--fixed{
    position: fixed;
    right: 0;
    left: 0;
}
.search-panel__profile{
    height: 16vw;
    margin: 1vw;
    border: 1px solid #0c6ec342;
}

.search-panel__profile-info{
position: absolute;
    color: transparent;
    width: 11vw;
    height: 11vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -11vw;
}
.search-panel__profile-info:hover{
    color: white;
    transition: color 0.2s linear 0.2s;
    background: #496490;
    cursor: pointer;
}

.search-panel__profile-text{
    position: absolute;
    width: 11vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    color: #003b75;
    font-weight: bold;
    font-size: 16px;
}

.container__image--profile{
    margin: 1vw;
    background: #00243f;
    position: absolute;
    margin-top: -11vw;
    margin-left: 3vw;
    height: 12vw;
    width: 12vw;
    box-shadow: 2px 2px 6px rgba(0,0,0,.3);

}

.component__profile h2{
    margin-block-end: 0px;
}

.profile__data-container{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    /* width: 50px; */
}

.profile__data-container h3{
    margin-right: 10px;
}

.profile__data-container p{
    margin-right: 10px;
    text-align: center;
}

.language-tags{
    margin-right: 10px;
    text-align: center;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.bttn{
    width: 100px;
    height: 30px;
}



.bttn--block-profile{
    margin-top: 5vh;
    background: #b70000;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.bttn--edit-profile{
    margin-top: 5vh;
    background: #64b2e6;
    border: none;
    border-radius: 5px;
    color: #003b75;
}
    

.profile__username{
    position: absolute;
    margin-top: -13vw;
    margin-left: 19vw;
    color: white;
}

.profile__username h2{
    margin: 0vw;
}

.profile__username input{
    background: white;
}

.profile__cover-image{
    width: 74vw;
    height: 15vw;
    max-width: 800px;
}

/* 

Display options 

*/

.margin--left{
    margin-left: 20px;
}

.margin--bottom{
    margin-bottom: 10px;
}

.margin--top{
    padding-top: 3px;
}
.center{
    text-align: center;
    justify-content: center;
}

.no-shadow{
    box-shadow: none;
}

.white-block{
    width: 100%;
}

.active{
    color: white;
    background: #003b75
}

.inactive{
    color: black;
    background: #b3b3b3;
}

.profile__textArea{
    width: 95%;
    height: 150px;
    border:none;
}

.profile__input{
    background: #d3d3d342;
    border: none;
}

.profile__select{
    color: #424242b3;
    background: #d3d3d342;
    border: none;
    max-width: 100%;
}



